<% if @name %>
<h1>My name is <%= @name %></h1>
<% end %>
<form action="/named-cat">
  <input type="text" name="name">
  <input type="submit" value="Name a kitty">
</form>
<div style='border: 3px dashed black; display: inline-block'>
  <img src='<%= @catpic %>' width="454">
</div>
